# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
NBA = pd.read_csv('NBA All Stars 2000-2016 - Sheet1.csv')

In [2]:
NBAWT = NBA.groupby('WT').mean()
NBAWT

            Year
WT
165  2004.500000
175  2011.000000
178  2005.625000
180  2001.000000
184  2016.000000
185  2009.700000
186  2011.200000
190  2010.666667
191  2005.000000
193  2010.428571
195  2006.600000
198  2008.000000
200  2012.000000
205  2007.187500
210  2006.166667
211  2008.000000
212  2007.882353
215  2007.875000
218  2000.000000
220  2009.714286
222  2012.000000
225  2001.000000
226  2016.000000
228  2005.000000
229  2002.000000
230  2011.000000
231  2015.000000
235  2006.575758
240  2008.480000
245  2006.966667
246  2014.500000
247  2002.000000
249  2006.000000
250  2007.972222
251  2012.222222
253  2014.500000
254  2003.000000
255  2013.666667
259  2003.000000
260  2003.875000
261  2002.500000
265  2007.500000
266  2006.500000
268  2012.000000
270  2013.800000
279  2015.000000
285  2011.000000
310  2005.625000
325  2003.625000

# What team is represented the most during this time?

In [4]:
NBA.groupby('Team').count().sort_values('Year', ascending = False)
#Miami Heat

,Year,Player,Pos,HT,WT,Selection Type,NBA Draft Status,Nationality
Team,,,,,,,,
Miami Heat,28,28,28,28,28,28,28,28
Boston Celtics,26,26,26,26,26,26,26,26
San Antonio Spurs,25,25,25,25,25,25,25,25
Los Angeles Lakers,25,25,25,25,25,25,25,25
Houston Rockets,20,20,20,20,20,20,20,20
Atlanta Hawks,18,18,18,18,18,18,18,18
Phoenix Suns,18,18,18,18,18,18,18,18
Dallas Mavericks,18,18,18,18,18,18,18,18
Cleveland Cavaliers,17,17,17,17,17,17,17,17
Toronto Raptors,16,16,16,16,16,16,16,16
Detroit Pistons,15,15,15,15,15,15,15,15
Indiana Pacers,15,15,15,15,15,15,15,15
Orlando Magic,14,14,14,14,14,14,14,14
Los Angeles Clippers,14,14,14,14,14,14,14,14
Oklahoma City Thunder,13,13,13,13,13,13,13,13
Washington Wizards,13,13,13,13,13,13,13,13
Minnesota Timberwolves,12,12,12,12,12,12,12,12
New Jersey Nets,12,12,12,12,12,12,12,12
Chicago Bulls,12,12,12,12,12,12,12,12
Philadelphia Sixers,11,11,11,11,11,11,11,11
Sacramento Kings,11,11,11,11,11,11,11,11
Golden State Warriors,11,11,11,11,11,11,11,11
New York Knicks,10,10,10,10,10,10,10,10
Portland Trail Blazers,10,10,10,10,10,10,10,10
New Orleans Hornets,9,9,9,9,9,9,9,9
Utah Jazz,9,9,9,9,9,9,9,9
Denver Nuggets,9,9,9,9,9,9,9,9
Seattle SuperSonics,8,8,8,8,8,8,8,8
Memphis Grizzlies,6,6,6,6,6,6,6,6
Milwaukee Bucks,5,5,5,5,5,5,5,5
New Orleans Pelicans,4,4,4,4,4,4,4,4
Charlotte Hornets,2,2,2,2,2,2,2,2
Brooklyn Nets,2,2,2,2,2,2,2,2
Charlotte Bobcats,1,1,1,1,1,1,1,1

# What draft class is represeted the most during this time?

In [5]:
NBA.groupby('NBA Draft Status').count().sort_values('Year', ascending = False)

,Year,Player,Pos,HT,WT,Team,Selection Type,Nationality
NBA Draft Status,,,,,,,,
1996 Rnd 1 Pick 13,16,16,16,16,16,16,16,16
2003 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
1997 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
1998 Rnd 1 Pick 9,13,13,13,13,13,13,13,13
1995 Rnd 1 Pick 5,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...
2008 Rnd 1 Pick 10,1,1,1,1,1,1,1,1
1996 Rnd 1 Pick 3,1,1,1,1,1,1,1,1
2001 Rnd 1 Pick 2,1,1,1,1,1,1,1,1
1995 Rnd 1 Pick 3,1,1,1,1,1,1,1,1
2013 Rnd 1 Pick 15,1,1,1,1,1,1,1,1

# Are foriegn players more prevalent in the All-Star Game during this time?

In [11]:
players = NBA.groupby('Nationality').count().reset_index().sort_values('Selection Type', ascending=False)
players

,Nationality,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status
18,United States,365,365,365,365,365,365,365,365
9,Germany,13,13,13,13,13,13,13,13
16,Spain,9,9,9,9,9,9,9,9
2,Canada\nSouth Africa,8,8,8,8,8,8,8,8
3,China,8,8,8,8,8,8,8,8
7,France,6,6,6,6,6,6,6,6
5,Dominican Republic\nUnited States,4,4,4,4,4,4,4,4
19,United States\nAustralia,4,4,4,4,4,4,4,4
15,Serbia\nGreece,3,3,3,3,3,3,3,3
12,Lithuania,2,2,2,2,2,2,2,2
0,Argentina,2,2,2,2,2,2,2,2
10,Germany\nUnited States,2,2,2,2,2,2,2,2
6,England\nSouth Sudan,2,2,2,2,2,2,2,2
4,Democratic Republic of the Congo,2,2,2,2,2,2,2,2
8,France\nUnited States,2,2,2,2,2,2,2,2
20,United States\nGermany,1,1,1,1,1,1,1,1
17,Turkey,1,1,1,1,1,1,1,1
11,Greece\nNigeria,1,1,1,1,1,1,1,1
14,Serbia,1,1,1,1,1,1,1,1
13,Russia,1,1,1,1,1,1,1,1
1,Canada,1,1,1,1,1,1,1,1
21,United States\nSpain,1,1,1,1,1,1,1,1

# How often are the Western All-Stars voted in by fans?

In [ ]:
#idk this at all sorry

# How many times does Steph Curry make the All-Star game during this time period?

In [12]:
NBA.groupby('Player').count().loc['Stephen Curry']['Year']

4

# How many Shooting Gaurds have made the All-Star game during this time?

In [ ]:
#this one hard too

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [14]:
Chicago = NBA[NBA['Team'] == 'Chicago Bulls'].count()
Chicago

Year                12
Player              12
Pos                 12
HT                  12
WT                  12
Team                12
Selection Type      12
NBA Draft Status    12
Nationality         12
dtype: int64